body {
  background: white;
  -webkit-box-shadow: 0rem 0rem 1rem 0rem red;
          box-shadow: 0rem 0rem 1rem 0rem red;
}

body div {
  margin: 0px;
}

@media (max-width: 1200px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body header {
  -webkit-box-shadow: 0rem 0rem 1rem 0rem red;
          box-shadow: 0rem 0rem 1rem 0rem red;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .container-header .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-top: 0.5rem;
  padding-top: 1rem;
}

body header .container-header .logo .logo-img {
  float: center;
  height: 5rem;
  width: 15rem;
}

body header .container-header .subtitle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2vw;
  letter-spacing: 0.05rem;
  font-family: "Shrikhand", cursive;
}

body header .container-header .location {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2vw;
  background: rgba(0, 0, 0, 0.134);
  padding: 0.8rem;
  border-top: 0.3rem solid rgba(65, 65, 65, 0.164);
}

body header .container-header .location .location-para {
  display: inline;
  font-family: "Roboto", sans-serif;
  margin-left: 0.3rem;
  border-radius: 0.4rem;
}

body header main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10%;
}

body header main .briefDescOfComp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f6f6;
  color: black;
  letter-spacing: 0.02rem;
  padding: 1rem;
  font-size: 2.4vw;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

body header main .briefDescOfComp .span-h2 {
  margin-bottom: 0.5rem;
}

body header main .booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  color: black;
  gap: 10%;
  -webkit-box-shadow: 0rem 0rem 1rem 0rem red;
          box-shadow: 0rem 0rem 1rem 0rem red;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.4vw;
  font-weight: bolder;
}

body header main .booking .span-booking {
  font-size: 2vw;
  margin: 1rem 0rem;
  font-weight: normal;
}

body header main .booking .booking-button {
  background: #ff79da;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  border: none;
  border-radius: 5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  padding: 2rem;
  -webkit-box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
          box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
}

body header main .how-it-works {
  font-family: "Roboto", sans-serif;
  font-size: 2.4vw;
  color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header main .how-it-works ol {
  counter-reset: item;
  font-size: 2vw;
}

body header main .how-it-works ol li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  background: #9356dc;
  border-radius: 50%;
  width: 20vw;
  background: #cfcfcf;
  margin: 1rem;
  border-radius: 1rem;
  padding: 2rem;
}

body header main .container-restaurant-cards h3 {
  font-size: 3vw;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-family: "Shrikhand", cursive;
  letter-spacing: 0.05rem;
}

body header main .container-restaurant-cards .restaurant-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  color: black;
  gap: 10%;
  -webkit-box-shadow: 0rem 0rem 1rem 0rem red;
          box-shadow: 0rem 0rem 1rem 0rem red;
  padding: 0rem 1rem;
  margin-bottom: 1rem;
}

body header main .container-restaurant-cards img {
  float: center;
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}
