* {
  padding: 0;
  margin: 0;
}

body {
  background: white;
  overflow: auto;
}
body div {
  margin: 0px;
}
body p {
  white-space: pre-line;
}
body header {
  margin-bottom: 1rem;
}
body header .menupage-container-header .menupage-logo .menu-logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 1.8rem;
  padding: 1rem 0 0.5rem 0;
}
body header .menupage-container-header .header-image .background-image {
  max-width: 100%;
}
body main {
  background: rgb(246, 246, 246);
  border-radius: 1.4rem;
  padding-bottom: 1rem;
}
body main #menu-page-h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
body main .menu-page-courses {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: grey;
  margin-left: 2rem;
}
body main .menu-page-courses::after {
  content: " ";
  display: block;
  border-bottom: 0.15rem solid #99e2d0;
  width: 2.5rem;
}
body main .menu-dishes .menu-dishes-btn {
  -webkit-box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
  box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
  border-radius: 1rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 1rem 1rem 1rem 1rem;
  position: relative;
  cursor: pointer;
  border: 0;
  width: 20rem;
  margin: auto;
  margin: 1rem;
  margin-right: 0;
  z-index: 1;
}
body main .menu-dishes .menu-dishes-btn::after {
  content: " ";
  position: absolute;
  width: 20%;
  height: 100%;
  background: #99e2d0;
  right: 0;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
}
body main .menu-dishes .menu-dishes-btn:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
body main .menu-dishes .fa-circle-check {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  color: rgb(246, 246, 246);
  right: 1.3rem;
  top: 1.2rem;
  font-size: 1.5rem;
}
body main .menu-dish-titles {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 1000;
  margin-top: 0.8rem;
  margin-left: 1rem;
  margin-bottom: 0.1rem;
  padding-bottom: 0;
  padding-top: 0;
}
body main .menu-dishes-p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
  margin-left: 1rem;
  color: grey;
}
body .order-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ff79da;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  border: none;
  border-radius: 5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 1.5rem 0rem;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.1rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
  box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  margin: 2rem 0 2rem 5rem;
  width: 10rem;
  padding: 0.7rem;
}
body .order-button .order-button-a {
  text-decoration: none;
  color: white;
}
body footer {
  background: #696969;
  padding-bottom: 1rem;
}
body footer .footer-logo-img {
  height: 1rem;
  width: 6rem;
  margin-left: 1rem;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin: 1rem;
}
body footer .footer-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}
body footer .support-a-restaurant-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
  font-weight: 1000;
}
body footer .support-a-restaurant-p .fa-utensils {
  margin-right: 1.2rem;
}
body footer .become-a-partner-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
  font-weight: 1000;
}
body footer .become-a-partner-p .fa-handshake-angle {
  margin-right: 0.8rem;
}
body footer .legal-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}
body footer .contact-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}
