* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: white;
  overflow: hidden;
  background: rgb(246, 246, 246);
}
body div {
  margin: 0;
  padding: 0;
}
body header {
  margin-bottom: 1rem;
}
body header .back-arrow {
  color: black;
}
body header .back-arrow:visited {
  color: black;
}
body header .back-arrow:active {
  color: #9356dc;
}
body header .menupage-container-header .fa-arrow-left {
  position: absolute;
  top: 1.2rem;
  left: 2rem;
  font-size: 1.2rem;
  -webkit-text-stroke: 0.5px;
  cursor: pointer;
}
body header .menupage-container-header .menupage-logo .menu-logo-img {
  display: block;
  margin: 0 auto;
  padding: 1rem 0 0.5rem 0;
  max-width: 50%;
  height: 2rem;
}
body header .menupage-container-header .header-image .background-image {
  max-width: 100%;
}
body header .menupage-container-header .header-image-the-enchanted-plate {
  height: 35rem;
  margin-top: 0rem;
}
body .the-enchanted-plate-main {
  top: -23.5rem;
}
body main {
  background: rgb(246, 246, 246);
  border-top-left-radius: 1.4rem;
  border-top-right-radius: 1.4rem;
  position: relative;
  top: -4rem;
  overflow-y: hidden;
}
body main #menu-page-h1-the-full-palette {
  position: relative;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
body main #menu-page-h1-the-full-palette .fa-heart {
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  right: 40px;
  bottom: 40px;
  right: 40px;
  bottom: 10px;
}
body main #menu-page-h1-the-full-palette .fa-heart-2 {
  position: absolute;
  color: rgb(246, 246, 246);
  font-size: 1.3rem;
  right: 41.5px;
  bottom: 10px;
}
body main #menu-page-h1-the-full-palette .fa-heart-2::before {
  padding: 0.03rem;
}
body main #menu-page-h1-the-full-palette .fa-heart-2:hover {
  position: absolute;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: rgb(246, 246, 246);
  background-image: rgb(246, 246, 246);
  background-size: 100%;
  font-size: 1.6rem;
  right: 39px;
  bottom: 8px;
}
body main #menu-page-h1-the-enchanted-plate {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
  white-space: pre-line;
}
body main #menu-page-h1-the-enchanted-plate .fa-heart {
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  right: 40px;
  bottom: 40px;
  top: -2.3rem;
  left: 11.5rem;
}
body main #menu-page-h1-the-enchanted-plate .fa-heart-2 {
  position: absolute;
  color: rgb(246, 246, 246);
  font-size: 1.3rem;
  left: 10.1rem;
  top: -2.35rem;
}
body main #menu-page-h1-the-enchanted-plate .fa-heart-2::before {
  padding: 0.03rem;
}
body main #menu-page-h1-the-enchanted-plate .fa-heart-2:hover {
  position: absolute;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: rgb(246, 246, 246);
  background-image: rgb(246, 246, 246);
  background-size: 100%;
  left: 9.8rem;
  top: -2.1rem;
}
body main #menu-page-h1-bastille {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
body main #menu-page-h1-bastille .fa-heart {
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  right: 40px;
  bottom: 40px;
  left: 9.5rem;
}
body main #menu-page-h1-bastille .fa-heart-2 {
  position: absolute;
  color: rgb(246, 246, 246);
  font-size: 1.3rem;
  left: 8.05rem;
  bottom: 0.05rem;
}
body main #menu-page-h1-bastille .fa-heart-2::before {
  padding: 0.03rem;
}
body main #menu-page-h1-bastille .fa-heart-2:hover {
  position: absolute;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: rgb(246, 246, 246);
  background-image: rgb(246, 246, 246);
  background-size: 100%;
  left: 7.8rem;
  bottom: -0.1rem;
}
body main #menu-page-h1-le-gourmand {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
body main #menu-page-h1-le-gourmand .fa-heart {
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  right: 40px;
  bottom: 40px;
}
body main #menu-page-h1-le-gourmand .fa-heart-2 {
  position: absolute;
  color: rgb(246, 246, 246);
  font-size: 1.3rem;
  right: -4.8rem;
  bottom: 0.25rem;
}
body main #menu-page-h1-le-gourmand .fa-heart-2::before {
  padding: 0.03rem;
}
body main #menu-page-h1-le-gourmand .fa-heart-2:hover {
  position: absolute;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: rgb(246, 246, 246);
  background-image: rgb(246, 246, 246);
  background-size: 100%;
  left: 4.7rem;
  bottom: 0.15rem;
}
body main .menu-page-courses {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: grey;
  margin-left: 2rem;
}
body main .menu-page-courses::after {
  content: " ";
  display: block;
  border-bottom: 0.15rem solid #99e2d0;
  width: 2.5rem;
}
body main .menu-dishes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body main .menu-dishes-container .menu-dishes .menu-dishes-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin: 1rem;
  margin-right: 1rem;
  height: 4rem;
  border: 0;
  -webkit-box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
          box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
  border-radius: 1rem;
  z-index: 1;
}
body main .menu-dishes-container .menu-dishes .menu-dishes-content-overflow {
  height: 5rem;
}
body main .menu-dishes-container .menu-dishes .menu-dishes-content:hover {
  margin-left: 1rem;
  text-overflow: ellipsis;
}
body main .menu-dishes-container .menu-dishes .menu-dishes-content:hover .fa-circle-check {
  -webkit-animation: spin 1s 1;
          animation: spin 1s 1;
  right: 1.5rem;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
body main .menu-dishes-container .menu-dishes .menu-dishes-content:hover .dish-prices {
  position: absolute;
  margin-right: 2.2rem;
  padding: 0 1.5rem 0 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgb(246, 246, 246);
}
body main .menu-dishes-container .menu-dishes .menu-dishes-content:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
body main .menu-dishes-container .menu-dishes .menu-dishes-content::after {
  content: " ";
  position: absolute;
  width: 20%;
  height: 100%;
  background: #99e2d0;
  right: 0;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}
body main .menu-dishes-container .menu-dishes .fa-circle-check {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  color: rgb(246, 246, 246);
  right: -5rem;
  top: 1.2rem;
  font-size: 1.5rem;
  overflow: visible;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
body main .menu-dishes-container .menu-dishes .menu-dish-titles {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 1000;
  margin-top: 0.8rem;
  margin-left: 1rem;
  margin-bottom: 0.1rem;
  padding-bottom: 0;
  padding-top: 0;
}
body main .menu-dishes-container .menu-dishes .menu-dish-titles-overflow {
  white-space: pre-line;
}
body main .menu-dishes-container .menu-dishes .menu-dish-description {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0;
  margin-left: 1rem;
  color: grey;
}
body main .menu-dishes-container .menu-dishes .menu-dish-description .dish-prices {
  position: absolute;
  right: 2rem;
  bottom: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 1000;
  color: black;
}
body main .order-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff79da;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  border: none;
  border-radius: 5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 1.5rem 0rem;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
          box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
  margin: 2rem 0 1rem 5rem;
  width: 10rem;
  padding: 0.7rem;
}
body main .order-button .order-button-a {
  text-decoration: none;
  color: white;
}
body main .order-button-the-enchanted-plate {
  margin-bottom: 1rem;
  overflow-y: hidden;
}
body .footer-the-enchanted-plate {
  margin-top: -20rem;
}
body footer {
  background: #696969;
  padding-bottom: 1rem;
}
body footer .footer-logo-img {
  height: 1rem;
  width: 6rem;
  margin-left: 1rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin: 1rem;
}
body footer .footer-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}
body footer .support-a-restaurant-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
  font-weight: 1000;
}
body footer .support-a-restaurant-p .fa-utensils {
  margin-right: 1.2rem;
}
body footer .become-a-partner-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
  font-weight: 1000;
}
body footer .become-a-partner-p .fa-handshake-angle {
  margin-right: 0.8rem;
}
body footer .legal-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}
body footer .contact-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}