* {
  padding: 0;
  margin: 0;
}

body {
  background: #f6f6f6;
}
body header {
  margin-bottom: 1rem;
}
body header .back-arrow {
  color: black;
}
body header .back-arrow:visited {
  color: black;
}
body header .back-arrow:active {
  color: #9356dc;
}
body header .header-container .fa-arrow-left {
  position: absolute;
  top: 1.2rem;
  left: 2rem;
  font-size: 1.2rem;
  -webkit-text-stroke: 0.5px;
  cursor: pointer;
}
body header .header-container .logo a .logo-img {
  display: block;
  margin: 1rem auto;
  height: 2rem;
}
@media screen and (min-width: 1024px) {
  body header .header-container .logo a .logo-img {
    max-width: 18rem;
  }
}
body header .header-container .header-image .background-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 280px) {
  body header .header-container .header-image .background-image {
    max-height: 5rem;
  }
}
@media screen and (max-width: 768px) {
  body header .header-container .header-image .background-image {
    max-height: 20rem;
  }
}
@media screen and (min-width: 768px) {
  body header .header-container .header-image .background-image {
    max-height: 20rem;
    -o-object-position: center 50%;
       object-position: center 50%;
  }
}
@media screen and (min-width: 1024px) {
  body header .header-container .header-image .background-image {
    max-height: 30rem;
    -o-object-position: center 70%;
       object-position: center 70%;
  }
}
@media screen and (min-width: 2000px) {
  body header .header-container .header-image .background-image {
    max-height: 35rem;
    -o-object-position: center 70%;
       object-position: center 70%;
  }
}
body header .header-container .header-image .the-enchanted-plate-background-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 280px) {
  body header .header-container .header-image .the-enchanted-plate-background-image {
    max-height: 15rem;
    -o-object-position: center 45%;
       object-position: center 45%;
  }
}
@media screen and (min-width: 400px) {
  body header .header-container .header-image .the-enchanted-plate-background-image {
    max-height: 20rem;
  }
}
@media screen and (min-width: 550px) {
  body header .header-container .header-image .the-enchanted-plate-background-image {
    -o-object-position: center 65%;
       object-position: center 65%;
  }
}
@media screen and (min-width: 768px) {
  body header .header-container .header-image .the-enchanted-plate-background-image {
    max-height: 25rem;
    -o-object-position: center 60%;
       object-position: center 60%;
  }
}
@media screen and (min-width: 1024px) {
  body header .header-container .header-image .the-enchanted-plate-background-image {
    max-height: 30rem;
    -o-object-position: center 70%;
       object-position: center 70%;
  }
}
@media screen and (min-width: 1440px) {
  body header .header-container .header-image .the-enchanted-plate-background-image {
    -o-object-position: center 60%;
       object-position: center 60%;
  }
}
@media screen and (min-width: 1920px) {
  body header .header-container .header-image .the-enchanted-plate-background-image {
    max-height: 40rem;
  }
}
@media screen and (min-width: 1750px) {
  body header .header-container .header-image .bastille-background-image {
    -o-object-position: center 75%;
       object-position: center 75%;
    max-height: 35rem;
  }
}
@media screen and (min-width: 2000px) {
  body header .header-container .header-image .bastille-background-image {
    max-height: 45rem;
  }
}
@media screen and (min-width: 768px) {
  body header .header-container .header-image .le-gourmand-background-image {
    -o-object-position: center 90%;
       object-position: center 90%;
  }
}
@media screen and (min-width: 1440px) {
  body header .header-container .header-image .le-gourmand-background-image {
    max-height: 35rem;
    -o-object-position: center 75%;
       object-position: center 75%;
  }
}
body main {
  position: relative;
  top: -4rem;
  width: 100%;
  overflow-y: hidden;
  background: #f6f6f6;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
@media screen and (min-width: 1024px) {
  body main {
    top: -10rem;
  }
}
body main h1 {
  position: relative;
  margin: 2rem 0 0 1.5rem;
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
}
@media screen and (max-width: 360px) {
  body main h1 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  body main h1 {
    font-size: 2rem;
    text-align: center;
  }
}
body main h1 .fa-regular {
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  color: black;
  right: 30px;
  bottom: 10px;
}
@media screen and (max-width: 319px) {
  body main h1 .fa-regular {
    font-size: 20px;
    right: 1rem;
    bottom: -1rem;
  }
}
@media screen and (min-width: 1024px) {
  body main h1 .fa-regular {
    position: relative;
    right: -50px;
    bottom: 0;
  }
}
body main h1 .fa-regular:hover {
  font-weight: 900;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #f6f6f6;
  background-image: #f6f6f6;
}
body main h1 .fa-regular:active {
  font-weight: 900;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #f6f6f6;
  background-image: #f6f6f6;
}
body main .menu-dishes-wrapper {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  body main .menu-dishes-wrapper {
    margin-bottom: 6rem;
  }
}
body main .menu-dishes-wrapper .courses {
  margin-left: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: grey;
}
body main .menu-dishes-wrapper .courses::after {
  content: " ";
  display: block;
  width: 2.5rem;
  border-bottom: 0.15rem solid #99e2d0;
}
body main .menu-dishes-wrapper .menu-dish-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem 0;
}
@media screen and (max-width: 319px) {
  body main .menu-dishes-wrapper .menu-dish-container {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 768px) {
  body main .menu-dishes-wrapper .menu-dish-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1rem 5%;
  }
}
@media screen and (min-width: 1024px) {
  body main .menu-dishes-wrapper .menu-dish-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1rem 5%;
  }
}
body main .menu-dishes-wrapper .entrees-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  body main .menu-dishes-wrapper .entrees-container {
    min-width: 20rem;
    max-width: 28rem;
  }
}
@media screen and (min-width: 1024px) {
  body main .menu-dishes-wrapper .entrees-container {
    min-width: 23rem;
    max-width: 30rem;
  }
}
body main .menu-dishes-wrapper .main-dish-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  body main .menu-dishes-wrapper .main-dish-container {
    min-width: 20rem;
    max-width: 28rem;
  }
}
@media screen and (min-width: 1024px) {
  body main .menu-dishes-wrapper .main-dish-container {
    min-width: 23rem;
    max-width: 30rem;
  }
}
body main .menu-dishes-wrapper .desserts-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  body main .menu-dishes-wrapper .desserts-container {
    min-width: 20rem;
    max-width: 28rem;
  }
}
@media screen and (min-width: 1024px) {
  body main .menu-dishes-wrapper .desserts-container {
    min-width: 23rem;
    max-width: 30rem;
    margin: 1rem 0 0 0;
  }
}
body main .menu-dishes-wrapper .menu-dish-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 3rem;
  margin: 1rem;
  -webkit-box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
          box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
  border-radius: 1rem;
  z-index: 1;
  padding: 0.3rem 0 0.5rem 0;
}
@media screen and (max-width: 319px) {
  body main .menu-dishes-wrapper .menu-dish-box {
    padding: 0 0 1rem 0;
  }
}
@media screen and (min-width: 320px) {
  body main .menu-dishes-wrapper .menu-dish-box {
    height: 4rem;
  }
}
@media screen and (min-width: 768px) {
  body main .menu-dishes-wrapper .menu-dish-box {
    height: 6rem;
  }
  body main .menu-dishes-wrapper .menu-dish-box:hover {
    height: 6rem;
  }
}
body main .menu-dishes-wrapper .menu-dish-box:hover {
  margin-left: 1rem;
}
body main .menu-dishes-wrapper .menu-dish-box:hover .dish-prices-container {
  width: 100px;
}
body main .menu-dishes-wrapper .menu-dish-box:hover .fa-circle-check {
  top: 14px;
  right: 14px;
  font-size: 2rem;
  cursor: pointer;
  -webkit-animation: spin 1s 1;
          animation: spin 1s 1;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
@media screen and (max-width: 319px) {
  body main .menu-dishes-wrapper .menu-dish-box:hover .fa-circle-check {
    right: 17px;
    bottom: 40px;
    font-size: 1.8rem;
  }
}
body main .menu-dishes-wrapper .menu-dish-box:hover .dish-prices {
  position: absolute;
  margin-right: 2.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body main .menu-dishes-wrapper .menu-dish-box:hover .dish-titles-and-description-container {
  max-width: 260px;
  word-wrap: normal;
  overflow: hidden;
}
@media screen and (max-width: 319px) {
  body main .menu-dishes-wrapper .menu-dish-box:hover .dish-titles-and-description-container .menu-dish-description {
    position: absolute;
    text-overflow: initial;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  body main .menu-dishes-wrapper .menu-dish-box:hover .dish-titles-and-description-container .menu-dish-description {
    position: absolute;
    text-overflow: initial;
    overflow: visible;
    white-space: initial;
    bottom: 1rem;
  }
}
body main .menu-dishes-wrapper .menu-dish-box:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
body main .menu-dishes-wrapper .menu-dish-box::after {
  content: " ";
  position: absolute;
  width: 60px;
  height: 100%;
  background: #99e2d0;
  right: 0;
  bottom: 0;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}
body main .menu-dishes-wrapper .menu-dish-box .fa-circle-check {
  position: absolute;
  font-size: 0;
  color: #f6f6f6;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container {
  position: absolute;
  height: 100%;
  width: 80%;
}
body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-titles {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.5rem 0 0.2rem 0.5rem;
}
@media screen and (max-width: 319px) {
  body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-titles {
    font-size: 1rem;
  }
}
@media screen and (min-width: 319px) {
  body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-titles {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-titles {
    font-size: 1.2rem;
  }
}
body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-titles-overflow {
  white-space: pre-line;
}
body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-description {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: grey;
}
@media screen and (max-width: 319px) {
  body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-description {
    max-width: 150px;
    overflow: visible;
    white-space: initial;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-description {
    text-overflow: clip;
    overflow: visible;
    white-space: initial;
  }
}
@media screen and (min-width: 326px) {
  body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-description {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  body main .menu-dishes-wrapper .menu-dish-box .dish-titles-and-description-container .menu-dish-description {
    font-size: 1rem;
  }
}
body main .menu-dishes-wrapper .menu-dish-box .dish-prices-container {
  position: absolute;
  height: 100%;
  width: 20%;
  right: 0;
  bottom: 0;
}
body main .menu-dishes-wrapper .menu-dish-box .dish-prices-container .dish-prices {
  display: block;
  position: absolute;
  right: 2rem;
  bottom: 0.7rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 1000;
  color: black;
}
@media screen and (max-width: 319px) {
  body main .menu-dishes-wrapper .menu-dish-box .dish-prices-container .dish-prices {
    bottom: 0.2rem;
    right: 1.5rem;
  }
}
body main .menu-dishes-wrapper .menu-dish-box-1 {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}
body main .menu-dishes-wrapper .menu-dish-box-2 {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body main .menu-dishes-wrapper .menu-dish-box-3 {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
body main .menu-dishes-wrapper .menu-dish-box-3a {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
body main .menu-dishes-wrapper .menu-dish-box-4 {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}
body main .menu-dishes-wrapper .menu-dish-box-5 {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body main .menu-dishes-wrapper .menu-dish-box-6 {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
body main .menu-dishes-wrapper .menu-dish-box-7 {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
}
body main .menu-dishes-wrapper .menu-dish-box-8 {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body main .menu-dishes-wrapper .menu-dish-box-9 {
  -webkit-animation: transitionIn 2s;
          animation: transitionIn 2s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media screen and (max-width: 319px) {
  body main .menu-dishes-wrapper .menu-dish-box-overflow {
    height: 4rem;
    top: 0;
  }
  body main .menu-dishes-wrapper .menu-dish-box-overflow .menu-dish-titles {
    max-width: 180px;
  }
  body main .menu-dishes-wrapper .menu-dish-box-overflow:hover .fa-circle-check {
    top: 22px;
  }
}
body main .order-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  body main .order-button-container {
    display: block;
    position: absolute;
    bottom: 0;
  }
}
body main .order-button-container .order-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 10rem;
  margin: 0 auto;
  padding: 0.7rem;
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background: #ff79da;
  background-image: linear-gradient(350deg, #9356dc, #ff79da);
  border-radius: 5rem;
  -webkit-box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
          box-shadow: 0rem 0.3rem 0.5rem 0.1rem #cfcfcf;
  border: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}
body main .order-button-container .order-button .order-button-a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 1024px) {
  body main .order-button-container .order-button {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}
body footer {
  background: #343435;
  padding-bottom: 1rem;
  width: 100%;
}
body footer .footer-content-container {
  width: 13rem;
}
body footer .footer-content-container .footer-logo-img {
  height: 1rem;
  width: 6rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  margin: 1rem 0 1rem 1.5rem;
  -o-object-position: center;
     object-position: center;
}
body footer .footer-content-container .footer-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}
body footer .footer-content-container .support-a-restaurant-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}
body footer .footer-content-container .support-a-restaurant-p .fa-utensils {
  margin-right: 1.2rem;
}
body footer .footer-content-container .become-a-partner-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}
body footer .footer-content-container .become-a-partner-p .fa-handshake-angle {
  margin-right: 0.8rem;
}
body footer .footer-content-container .legal-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
  font-weight: 100;
}
body footer .footer-content-container .contact-p {
  color: white;
  margin-left: 1rem;
  font: 1rem "Roboto", sans-serif;
  padding-bottom: 0.5rem;
  white-space: normal;
}
@media screen and (min-width: 768px) {
  body footer .footer-content-container {
    margin: 0 auto;
    max-width: 13rem;
    text-align: center;
  }
}