header {
    display: flex;
    box-shadow: $box-shadow;
    @include flexHeader(row, $primaryColor, $secondaryColor);
    .container-header {
        .flexbox-title {
            box-shadow: $box-shadow;
            margin: 1rem;
        }
        .flexbox-subtitle {
            box-shadow: $box-shadow;
            margin: 1rem;
        }
        .flexbox-location {
            box-shadow: $box-shadow;
            margin: 1rem;
        }
    }
}