@import "var";
header {
    display: flex;
    background:#00FFFF;
    border: $border;
    @include flexCenter(row, $primaryColor, $secondaryColor);
    .flexbox-container-header {
        .flexbox-title {
            border: $border;
            margin: 1rem;
        }
        .flexbox-subtitle {
            border: $border;
            margin: 1rem;
        }
        .flexbox-location {
            border: $border;
            margin: 1rem;
        }
    }
}