nav {
    display: flex;
    border: $border;
    margin: 1rem;
    width: 99%;
    @include flexNav(row, $primaryColor, $secondaryColor);
    .flexbox-container-nav {
        .flexbox-home {
            border: $border;
            margin: 1rem;
            padding: 5rem;
        }
        .flexbox-about {
            border: $border;
            margin: 1rem;
            padding: 5rem;
        }
        .flexbox-menu {
            border: $border;
            margin: 1rem;
            padding: 5rem;
        }
    }
    background:#7FFFD4;
}