nav {
    display: flex;
    box-shadow: $box-shadow;
    margin: 1rem;
    width: 99%;
    @include flexNav(row, $primaryColor, $secondaryColor);
    .flexbox-container-nav {
        .flexbox-home {
            box-shadow: $box-shadow;
            margin: 1rem;
            padding: 5rem;
        }
        .flexbox-about {
            box-shadow: $box-shadow;
            margin: 1rem;
            padding: 5rem;
        }
        .flexbox-menu {
            box-shadow: $box-shadow;
            margin: 1rem;
            padding: 5rem;
        }
    }
    background:#7FFFD4;
}