@mixin flexCenter($direction, $background, $color) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: $direction;
    background: $background;
    color: $color;
}
@mixin flexNav($direction, $background, $color) {
    display: flex;
    flex-direction: $direction;
    background: $background;
    color: $color;
}
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}
$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$border: 0.3rem $tertiaryColor solid;
$mobile: 800px;