$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;
$Shadow: #cfcfcf;
$ShadowHowItWorks: #eeeeee;
$boxShadow: 0rem 0rem 1rem 0rem red;
$boxShadowLinks: 0rem 0rem 0.5rem 0.5rem $Shadow;
$boxShadowButton: 0rem 0.3rem 0.5rem 0.1rem $Shadow;
$font-size-small: 1rem;
$font-size-regular: 1.2rem;
$font-size-large: 1.8rem;
$fontWeightThin: 300;
$fontWeightRegular: 500;
$fontWeightBold: 1000;
$fontWeightBolder: 0px 1px, 1px 0px, 1px 1px;
$tablets: 768px;
$laptop: 1024px;
$desktop: 1200px;
$TV: 1201px;
$borderRadius: 0.4rem;
$borderRadiusButton: 5rem;
$borderRadiusHowItWorks: 1rem;
$fontRoboto: "Roboto", sans-serif;
$fontShirkhand: "Shrikhand", cursive;
$letterSpacing: 0.05rem;

@mixin marginBottom($marginBottom) {
  margin-bottom: 1rem;
}
@mixin logoImg {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-top: 0.5rem;
  padding-top: 1rem;
}
@mixin menuLogoImg {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-top: 0.5rem;
  padding-top: 1rem;
}
@mixin backgroundColorFlexDirection($direction, $background, $color) {
  display: flex;
  background: $background;
  color: $color;
  flex-direction: $direction;
}
@mixin flexHeader($direction, $background, $color) {
  @include backgroundColorFlexDirection($direction, $background, $color);
}
@mixin flexMain($direction, $background, $color) {
  @include backgroundColorFlexDirection($direction, $background, $color);
  align-items: center;
  text-align: center;
}
@mixin briefDescOfComp($direction, $background, $color) {
  @include backgroundColorFlexDirection($direction, $background, $color);
  flex-wrap: nowrap;
}
@mixin flexBooking($direction, $background, $color) {
  @include backgroundColorFlexDirection($direction, $background, $color);
}
@mixin flexCards($direction, $background, $color) {
  @include backgroundColorFlexDirection($direction, $background, $color);
}
@mixin a {
  a:link {
    text-decoration: none;
    font-size: 2.5vw;
    text-align: center;
    color: $primaryColor;
  }
  a:visited {
    text-decoration: none;
    font-size: 2.5vw;
    text-align: center;
    color: $secondaryColor;
  }
  a:hover {
    text-decoration: underline;
    font-size: 3vw;
    text-align: center;
    color: $tertiaryColor;
  }
}
@mixin restuarantCards {
  box-shadow: $boxShadowButton;
  border-radius: $borderRadius;
  margin: 1rem 0rem;
  width: 99%;
}
@mixin New {
  position: absolute;
  margin: 1rem;
  padding: 0.5rem 3rem;
  left: 45%;
  color: #017c5a;
  font-family: $fontRoboto;
  font-size: $font-size-regular;
  font-weight: $fontWeightBold;
  background: $tertiaryColor;
  border-radius: 0.2rem;
}
@mixin flexFooter {
  background: #696969;
}
@mixin footerLinks {
  color: white;
  margin-left: 1rem;
  font: $font-size-small $fontRoboto;
  padding-bottom: 0.5rem;
  white-space: normal;
}
@mixin menuPageBackgroundImg {
  height: 10vh;
  width: 100%;
  float: center;
  object-fit: cover;
}
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
