@import "var";
@import "header";
@import "nav";
@import "body";
body {
    div {
        margin: 0px;
    }
    box-shadow: $box-shadow;
     @include desktop {
         flex-direction: row;
     } 
    header {
        @include flexHeader(column, $primaryColor, $secondaryColor);
        .flexbox-container-header {
            .flexbox-title {
                box-shadow: $box-shadow;
                justify-content: center;
                text-align: center;
            }
            .flexbox-subtitle {
                box-shadow: $box-shadow;
                justify-content: center;
                text-align: center;
            }
            .flexbox-location {
                box-shadow: $box-shadow;
                justify-content: center;
                text-align: center;
            }
        }
    }
    nav {
        @include flexNav(row, $primaryColor, $secondaryColor);
        @include desktop {
            flex-direction: row;
        } 
        .flexbox-container-nav {
        @include flexNav(row, $primaryColor, $secondaryColor);
            display: flex;
            box-shadow: $box-shadow;
            background:#7FFFD4;
            .flexbox-home {
                @include flexNav(row, $primaryColor, $secondaryColor);
                box-shadow: $box-shadow;
                // padding: 5rem;
            }
            .flexbox-about {
                @include flexNav(row, $primaryColor, $secondaryColor);
                box-shadow: $box-shadow;
                // padding: 5rem;
            }
            .flexbox-menu {
                @include flexNav(row, $primaryColor, $secondaryColor);
                box-shadow: $box-shadow;
                // padding: 5rem;
            }
        }
    }
main {
    @include flexMain (column, $primaryColor, $secondaryColor);
        background:#F5F5DC;
        box-shadow: $box-shadow;
            .briefDescOfComp {
                @include briefDescOfComp(column, $primaryColor, $secondaryColor);
                box-shadow: $box-shadow;
                padding: 1rem 0rem;
            }
            .flexbox-book {
                @include flexBook(column, $primaryColor, $secondaryColor);
                box-shadow: $box-shadow;
                // padding: 1rem;
                background:#A52A2A;
            }
            .flexbox-container-restaurant-cards {
                .flexbox-restaurant-cards {
                    @include flexCards(column, $primaryColor, $secondaryColor);
                    box-shadow: $box-shadow;
                    // padding: 1rem;
                    background:#7FFF00;
                }
                img {
                    display: block;
                    max-width: 20rem;
                    max-height: 20rem;
                }
                box-shadow: $box-shadow;
                // padding: 1rem;
                background:#5F9EA0;
            }
    }   
}





// background:#D2691E;
// background:#FF7F50;
// background:#6495ED;
// background:#DC143C;
// background:#00FFFF;
// background:#B8860B;