@import "var";
@import "header";
@import "nav";
body {
    border: $border;
    width: 100%;
    margin: 0.8rem;
main {
        @include flexMain (column, $primaryColor, $secondaryColor);
        @include mobile {
            flex-direction: column;
        }
        width: 100%;
        background:#F5F5DC;
        margin: 1rem 1rem;
        border: $border;
        header {
            @include flexHeader(row, $primaryColor, $secondaryColor);
            .flexbox-container-header {
                .flexbox-title {
                    border: $border;
                    margin: 1rem;
                }
                .flexbox-subtitle {
                    border: $border;
                    margin: 1rem;
                }
                .flexbox-location {
                    border: $border;
                    margin: 1rem;
                }
            }
            display: flex;
            border: $border;
            // margin: 1rem;
            width: 100%;
            background:#8A2BE2;
        }
        nav {
            .flexbox-container-nav {
                @include flexNav(row, $primaryColor, $secondaryColor);
                @include mobile {
                    flex-direction: column;
                }
                display: flex;
                border: $border;
                // margin: auto;
                width: 100%;
                background:#7FFFD4;
                .flexbox-home {
                    border: $border;
                    margin: 1rem;
                    padding: 5rem;
                }
                .flexbox-about {
                    border: $border;
                    margin: 1rem;
                    padding: 5rem;
                }
                .flexbox-menu {
                    border: $border;
                    margin: 1rem;
                    padding: 5rem;
                }
            }
            
        }
        .flexbox-h2 {
            @include flexH2(column, $primaryColor, $secondaryColor);
            border: $border;
            width: 100%;
            // padding: 1rem;
            // margin: auto;
            background:#0000FF;        
        }
        .flexbox-book {
            @include flexBook(column, $primaryColor, $secondaryColor);
            border: $border;
            width: 100%;
            // padding: 1rem;
            // margin: auto;
            background:#A52A2A;
        }
        .flexbox-container-restaurant-cards {
            .flexbox-restaurant-cards {
                @include flexCards(column, $primaryColor, $secondaryColor);
                border: $border;
                // width: 100%;
                // padding: 1rem;
                margin: auto;
                background:#7FFF00;
            }
            img {
                display: block;
                max-width: 20rem;
                max-height: 20rem;
            }
            border: $border;
            width: 100%;
            // padding: 1rem;
            // margin: auto;
            background:#5F9EA0;
        }
    }
}





// background:#D2691E;
// background:#FF7F50;
// background:#6495ED;
// background:#DC143C;
// background:#00FFFF;
// background:#B8860B;