@import "var";
* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
body {
  background: white;
  overflow: auto;
  div {
    margin: 0px;
  }
  p {
    white-space: pre-line;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  header {
    @include flexDirectionBackgroundColorAndTextColor(column, white, black);
    .container-header {
      .logo {
        a {
          .logo-img {
            display: block;
            margin: 1rem auto;
            height: 2rem;
          }
        }
      }
    }
  }
  main {
    @include flexDirectionBackgroundColorAndTextColor(column, white, black);
    align-items: center;
    text-align: center;
    width: 100%;
    .location {
      width: 100%;
      justify-content: center;
      text-align: center;
      font-size: $fontRobotoSizeSmall;
      background: #dcdcdd;
      padding: 0.8rem 0;
      box-shadow: inset 0px 7px 3px -3px #cbcbcd;

      .location-content {
        display: inline;
        font-family: $fontRoboto;
        margin-left: 1rem;
        border-radius: $borderRadius;
      }
    }
  }
  .booking {
    h1 {
      font-size: $fontRobotoSizeLarge;
      font-family: $fontRoboto;
      letter-spacing: $letterSpacing;
      min-width: 95vw;
    }
    @media screen and (min-width: 280px) and (orientation: portrait) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    @include flexDirectionBackgroundColorAndTextColor(column, white, black);
    width: 100%;
    padding: 2rem 0 2.5rem 0;
    margin-bottom: 1rem;
    font-family: $fontRoboto;
    font-size: $fontRobotoSizeLarge;
    font-weight: $fontWeightBold;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    background: $backgroundColorGrey;
    .span-booking {
      font-size: $fontRobotoSizeSmall;
      margin: 2rem;
      font-weight: $fontWeightRegular;
      color: grey;
    }
    .booking-btn {
      display: block;
      background: $secondaryColor;
      background-image: linear-gradient(350deg, $primaryColor, $secondaryColor);
      border: none;
      border-radius: $borderRadiusButton;
      text-align: center;
      font-family: $fontRoboto;
      font-size: $fontRobotoSizeSmall;
      padding: 1rem 0rem;
      width: 100%;
      max-width: 15rem;
      cursor: pointer;
      transform: scale(1);
      box-shadow: $boxShadowButton;
      margin: 1rem auto;
      .booking-btn-a {
        text-decoration: none;
        color: white;
      }
      &:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.05);
      }
    }
  }
  .how-it-works-container {
    @media screen and (min-width: 768px) {
      margin: 0 auto;
    }
    h2 {
      @media screen and (min-width: 768px) {
        text-align: center;
      }
      font-size: $fontRobotoSizeLarge;
      font-family: $fontRoboto;
      text-align: left;
      margin: 0 1rem 1rem 1rem;
      letter-spacing: $letterSpacing;
      min-width: 95vw;
    }
    display: block;
    text-align: left;
    padding: 2rem 0;
    font-family: $fontRoboto;
    font-size: $fontRobotoSizeLarge;
    color: black;
    font-weight: $fontWeightBold;
    letter-spacing: 0.1rem;
    width: 100%;
    ol {
      counter-reset: item;
      list-style-type: none;
      font-size: $fontRobotoSizeSmall;
      letter-spacing: 0;
      margin-left: 0.5rem;
      li {
        @media screen and (min-width: 768px) {
          width: 50%;
          margin: 1rem auto;
        }
        font-weight: 600;
        position: relative;
        justify-content: center;
        text-align: center;
        background: $primaryColor;
        border-radius: 50%;
        max-width: 100%;
        background: #f6f7f7;
        margin: 1rem;
        border-radius: $borderRadiusHowItWorks;
        padding: 1.5rem;
        box-shadow: $boxShadowButton;
        .fa-mobile-screen {
          position: absolute;
          left: 8vw;
          color: rgb(84, 84, 84);
        }
        .fa-list-check {
          position: absolute;
          left: 8vw;
          color: rgb(84, 84, 84);
        }
        .fa-store {
          position: absolute;
          left: 8vw;
          color: rgb(84, 84, 84);
        }
        .fa-solid:hover {
          color: $primaryColor;
        }
      }
      li:before {
        @include liBeforeHowItWorks;
        position: absolute;
        left: -0.5rem;
        // bottom: 0.5rem;
        content: counter(item) " ";
        counter-increment: item;
        background: $primaryColor;
        border-radius: 50%;
        width: 1rem;
        padding: 0.5vw;
        color: white;
      }
      li:hover {
        background: #9256dc28;
      }
    }
  }
  .container-restaurant-cards {
    background: #f8f4f4;
    padding-bottom: 1.5rem;
    width: 100%;
    @media screen and (min-width: 768px) and (orientation: landscape) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    h3 {
      @media screen and (min-width: 768px) and (orientation: landscape) {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.8rem;
      }
      font-size: $fontRobotoSizeLarge;
      font-family: $fontRoboto;
      text-align: left;
      margin-top: 3rem;
      margin-left: 1rem;
      letter-spacing: $letterSpacing;
      min-width: 95vw;
    }
    .restaurant-cards {
      @media screen and (min-width: 768px) and (orientation: landscape) {
        width: 25%;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem;
        flex: 1 0 21%;
      }
      @include flexDirectionBackgroundColorAndTextColor(column, white, black);
      background: $backgroundColorGrey;
      margin: 1rem;
      margin-top: 0;

      .restaurant-card-boxes {
        position: relative;
        flex-wrap: wrap;
        margin: 1rem;
        padding: 0;
        background: white;
        box-shadow: $boxShadowButton;
        border-radius: $borderRadius;
        a {
          text-decoration: none;
          &:visited {
            color: black;
          }
        }
        .new {
          @include New;
        }
        .fa-regular {
          position: absolute;
          cursor: pointer;
          font-size: 30px;
          color: black;
          right: 40px;
          bottom: 40px;
        }
        .fa-regular:hover {
          font-weight: 900;
          background-image: $gradient;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          background-color: $backgroundColorGrey;
          background-image: $backgroundColorGrey;
        }
      }
      span {
        display: block;
        position: relative;
        font-family: $fontRoboto;
        font-weight: $fontWeightBold;
        font-size: 1.4rem;
        text-align: left;
        margin-top: 0.8rem;
        margin-left: 0.8rem;
      }
      .restaurant-card-location {
        display: block;
        font-family: $fontRoboto;
        text-align: left;
        font-weight: $fontWeightRegular;
        font-size: 1.4rem;
        margin-left: 0.8rem;
        margin-bottom: 1rem;
      }
    }
    img {
      @media screen and (min-width: 768px) and (orientation: landscape) {
        width: 20rem;
      }
      @media screen and (min-width: 1024px) and (orientation: landscape) {
        width: 40rem;
      }
      float: center;
      width: 100%;
      height: 19vh;
      object-fit: cover;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }
  }
}
footer {
  background: #343435;
  padding-bottom: 1rem;
  width: 100%;
  .footer-content-container {
    @media screen and (min-width: 768px) and (orientation: landscape) {
      display: block;
      margin: auto;
      max-width: 13rem;
      text-align: center;
      // .footer-logo-img {
      // }
    }
    .footer-logo-img {
      height: 1rem;
      width: 6rem;
      margin-left: 1rem;
      filter: invert(100%);
      margin: 1rem;
    }
    .footer-p {
      @include footerLinks;
    }
    .support-a-restaurant-p {
      @include footerLinks;
      font-weight: $fontWeightBold;
      .fa-utensils {
        margin-right: 1.2rem;
      }
    }
    .become-a-partner-p {
      @include footerLinks;
      font-weight: $fontWeightBold;
      .fa-handshake-angle {
        margin-right: 0.8rem;
      }
    }
    .legal-p {
      @include footerLinks;
    }
    .contact-p {
      @include footerLinks;
    }
  }
}
