$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;
$backgroundColorGray: rgb(246, 246, 246);
$gradient: linear-gradient(350deg, $primaryColor, $secondaryColor);
$Shadow: #cfcfcf;
$ShadowHowItWorks: #eeeeee;
$boxShadow: 0rem 0rem 1rem 0rem red;
$boxShadowLinks: 0rem 0rem 0.5rem 0.5rem $Shadow;
$boxShadowButton: 0rem 0.3rem 0.5rem 0.1rem $Shadow;
$fontRobotoSizeSmall: 1rem;
$fontRobotoSizeRegular: 1.2rem;
$fontRobotoSizeLarge: 1.5rem;
$fontShrikhandSizeSmall: 1rem;
$fontShrikhandSizeRegular: 1.2rem;
$fontShrikhandSizeLarge: 2rem;
$fontWeightThin: 300;
$fontWeightRegular: 500;
$fontWeightBold: 1000;
$fontWeightBolder: 0px 1px, 1px 0px, 1px 1px;
$smallTablets: 540px;
$tablets: 768px;
$laptop: 1024px;
$desktop: 1200px;
$TV: 1201px;
$borderRadius: 0.4rem;
$borderRadiusButton: 5rem;
$borderRadiusHowItWorks: 1rem;
$fontRoboto: "Roboto", sans-serif;
$fontShrikhand: "Shrikhand", cursive;
$letterSpacing: 0.05rem;
@mixin body {
  background: white;
  overflow: auto;
}
@mixin div {
  margin: 0;
  padding: 0;
}
@mixin marginBottom($marginBottom) {
  margin-bottom: 1rem;
}
@mixin backgroundColorFlexDirection($direction, $background, $color) {
  display: flex;
  background: $background;
  color: $color;
  flex-direction: $direction;
}
@mixin header($direction, $background, $color) {
  @include backgroundColorFlexDirection($direction, $background, $color);
}
@mixin subtitle {
  // @media only screen and (min-device-width: 768px) and (max-device-height: 1024) and (orientation: portrait) {
  // }
  @media only screen and (min-device-width: 912px) and (max-device-height: 1368px) and (orientation: portrait) {
    font-size: $fontRobotoSizeRegular;
  }
  justify-content: center;
  text-align: center;
  font-size: $fontShrikhandSizeRegular;
  letter-spacing: $letterSpacing;
  font-family: $fontShrikhand;
}
@mixin flexMain($direction, $background, $color) {
  @include backgroundColorFlexDirection($direction, $background, $color);
}
// @mixin briefDescOfComp($direction, $background, $color) {
//   // @media only screen and (min-device-width: 1024px) {
//   // }
//   @media only screen and (min-device-width: 912px) and (max-device-height: 1368px) and (orientation: portrait) {
//     font-size: $fontRobotoSizeLarge;
//   }
//   @include backgroundColorFlexDirection($direction, $background, $color);
//   flex-wrap: nowrap;
//   letter-spacing: 0.02rem;
//   padding: 1.5rem;
//   font-size: $fontRobotoSizeSmall;
//   font-family: $fontRoboto;
//   text-align: left;
//   font-weight: $fontWeightRegular;
// }
@mixin flexBooking($direction, $background, $color) {
  @include backgroundColorFlexDirection($direction, $background, $color);
  @media only screen and (min-device-width: 912px) and (max-device-height: 1368px) and (orientation: portrait) {
    font-size: $fontRobotoSizeLarge;
  }
}
@mixin booking {
  width: 100%;
}
@mixin spanBooking {
  @media only screen and (min-device-width: 280px) and (max-device-height: 653px) and (orientation: portrait) {
    margin: 1rem 0rem;
  }
  @media only screen and (min-device-width: 912px) and (max-device-height: 1368px) and (orientation: portrait) {
    font-size: 1.3rem;
  }
}
@mixin liBeforeHowItWorks {
  @media only screen and (min-device-width: 481px) and (max-device-width: 1180px) and (orientation: portrait) {
    width: 3vw;
  }
  @media only screen and (min-device-width: 540px) and (max-device-height: 720px) and (orientation: portrait) {
    width: 4vw;
  }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1180px) and (orientation: landscape) {
  }
  @media only screen and (min-device-width: 1024px) and (max-device-height: 600px) {
    width: 3vw;
    left: -1rem;
  }
  @media only screen and (min-device-width: 1280px) and (max-device-height: 800px) {
    width: 2.5vw;
    left: -1rem;
  }
  @media only screen and (min-device-width: 1180px) and (max-device-height: 1252px) and (orientation: portrait) {
    width: 3vw;
    left: -1.5rem;
  }
  @media only screen and (min-device-width: 1253px) and (max-device-height: 1252px) {
    width: 1.5vw;
    left: -1rem;
    font-size: $fontRobotoSizeRegular;
  }
}
@mixin h2 {
  @media only screen and (min-device-width: 912px) and (max-device-height: 1368px) and (orientation: portrait) {
    font-size: 3rem;
  }
  @media only screen and (min-device-width: 540px) and (max-device-height: 720px) and (orientation: portrait) {
    font-size: 2.3rem;
  }
  @media only screen and (min-device-width: 1024px) and (max-device-height: 600px) {
    font-size: 2rem;
  }
  @media only screen and (min-device-width: 1280px) and (max-device-height: 800px) {
    font-size: 2.7rem;
  }
  @media only screen and (min-device-width: 1253px) and (max-device-height: 1252px) {
    font-size: 2.5rem;
  }
  font-size: $fontShrikhandSizeLarge;
  margin-bottom: 1rem;
  font-family: $fontShrikhand;
  letter-spacing: $letterSpacing;
  width: 95vw;
}
@mixin flexCards($direction, $background, $color) {
  @include backgroundColorFlexDirection($direction, $background, $color);
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  font-family: $fontRoboto;
  font-size: $fontRobotoSizeLarge;
  text-align: left;
  position: relative;
}
@mixin restuarantCards {
  @media only screen and (min-device-width: 280px) and (max-device-width: 653px) and (orientation: portrait) {
    font-size: $fontRobotoSizeRegular;
  }
  box-shadow: $boxShadowButton;
  border-radius: $borderRadius;
  margin: 1rem 0rem;
  width: 99%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
@mixin restaurantCardsA {
  text-decoration: none;
}
@mixin restaurantCardsAVisited {
  color: black;
}
@mixin faHeart {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  position: absolute;
  right: 40px;
  bottom: 20px;
}
@mixin faHeart2 {
  position: absolute;
  color: $backgroundColorGray;
  color: white;
  font-size: 1.3rem;
  right: 41.5px;
  bottom: 20px;
}
@mixin faHeartHover {
  background-image: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: $backgroundColorGray;
  background-image: $backgroundColorGray;
  background-size: 100%;
  position: absolute;
  font-size: 1.6rem;
  right: 39.5px;
  bottom: 18.5px;
}
@mixin New {
  position: absolute;
  padding: 0.3rem 0;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  color: #017c5a;
  font-family: $fontRoboto;
  font-size: 1rem;
  font-weight: $fontWeightBold;
  background: $tertiaryColor;
  border-radius: 0.2rem;
  text-align: center;
}
@mixin footerLinks {
  color: white;
  margin-left: 1rem;
  font: $fontRobotoSizeSmall $fontRoboto;
  padding-bottom: 0.5rem;
  white-space: normal;
}
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
