$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;
$backgroundColorGrey: #f8f4f4;
$backgroundColorLightGrey: #f6f7f7;
$gradient: linear-gradient(350deg, $primaryColor, $secondaryColor);
$Shadow: #cfcfcf;
$ShadowHowItWorks: #eeeeee;
$boxShadow: 0rem 0rem 1rem 0rem red;
$boxShadowLinks: 0rem 0rem 0.5rem 0.5rem $Shadow;
$boxShadowButton: 0rem 0.3rem 0.5rem 0.1rem $Shadow;
$fontRobotoSizeSmall: 1rem;
$fontRobotoSizeRegular: 1.2rem;
$fontRobotoSizeLarge: 1.5rem;
$fontShrikhandSizeSmall: 1rem;
$fontShrikhandSizeRegular: 1.2rem;
$fontShrikhandSizeLarge: 2rem;
$fontWeightThin: 300;
$fontWeightRegular: 500;
$fontWeightBold: 900;
$fontWeightBolder: 0px 1px, 1px 0px, 1px 1px;
$smallTablets: 540px;
$tablets: 768px;
$laptop: 1024px;
$desktop: 1200px;
$TV: 1201px;
$borderRadius: 0.4rem;
$borderRadiusButton: 5rem;
$borderRadiusHowItWorks: 1.5rem;
$fontRoboto: "Roboto", sans-serif;
$fontShrikhand: "Shrikhand", cursive;
$letterSpacing: 0.05rem;
@mixin body {
  background: white;
  overflow: auto;
}
@mixin div {
  margin: 0;
  padding: 0;
}
@mixin marginBottom($marginBottom) {
  margin-bottom: 1rem;
}
@mixin backgroundColorFlexDirection($direction, $background, $color) {
  display: flex;
  background: $background;
  color: $color;
  flex-direction: $direction;
}
@mixin flexDirectionBackgroundColorAndFlexDirection(
  $direction,
  $background,
  $color
) {
  @include backgroundColorFlexDirection($direction, $background, $color);
}
@mixin subtitle {
  justify-content: center;
  text-align: center;
  font-size: $fontShrikhandSizeRegular;
  letter-spacing: $letterSpacing;
  font-family: $fontShrikhand;
}
@mixin liBeforeHowItWorks {
  @media only screen and (min-device-width: 481px) and (max-device-width: 1180px) and (orientation: portrait) {
    width: 3vw;
  }
  @media only screen and (min-device-width: 540px) and (max-device-height: 720px) and (orientation: portrait) {
    width: 4vw;
  }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1180px) and (orientation: landscape) {
  }
  @media only screen and (min-device-width: 1024px) and (max-device-height: 600px) {
    width: 3vw;
    left: -1rem;
  }
  @media only screen and (min-device-width: 1280px) and (max-device-height: 800px) {
    width: 2.5vw;
    left: -1rem;
  }
  @media only screen and (min-device-width: 1180px) and (max-device-height: 1252px) and (orientation: portrait) {
    width: 3vw;
    left: -1.5rem;
  }
  @media only screen and (min-device-width: 1253px) and (max-device-height: 1252px) {
    width: 1.5vw;
    left: -1rem;
    font-size: $fontRobotoSizeRegular;
  }
}
@mixin restuarantCards {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  width: 99%;
  margin: 1rem 0rem;
  box-shadow: $boxShadowButton;
  border-radius: $borderRadius;
}
@mixin restaurantCardsA {
  text-decoration: none;
}
@mixin restaurantCardsAVisited {
  color: black;
}
@mixin faHeart {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
@mixin faHeart2 {
  position: absolute;
  color: $backgroundColorGrey;
  color: white;
  font-size: 1.3rem;
  right: 41.5px;
  bottom: 40px;
}
@mixin faHeartHover {
  background-image: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: $backgroundColorGrey;
  background-image: $backgroundColorGrey;
  background-size: 100%;
  position: absolute;
  font-size: 1.6rem;
  right: 39.5px;
  bottom: 38.5px;
}
@mixin New {
  position: absolute;
  padding: 0.3rem 0;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  color: #149274;
  font-family: $fontRoboto;
  font-size: 1rem;
  font-weight: 600;
  background: $tertiaryColor;
  border-radius: 0.2rem;
  text-align: center;
}
@mixin footerLinks {
  color: white;
  margin-left: 1rem;
  font: $fontRobotoSizeSmall $fontRoboto;
  padding-bottom: 0.5rem;
  white-space: normal;
}
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
