@import "menuPageVar";

* {
  padding: 0;
  margin: 0;
}

body {
  background: $backgroundColorGrey;
  header {
    margin-bottom: 1rem;
    .back-arrow {
      color: black;
      &:visited {
        color: black;
      }
      &:active {
        color: $primaryColor;
      }
    }
    .header-container {
      .fa-arrow-left {
        position: absolute;
        top: 1.2rem;
        left: 2rem;
        font-size: 1.2rem;
        -webkit-text-stroke: 0.5px;
        cursor: pointer;
      }
      .logo {
        a {
          .logo-img {
            display: block;
            margin: 1rem auto;
            height: 2rem;
            @media screen and (min-width: 1024px) {
              max-width: 18rem;
            }
          }
        }
      }
      .header-image {
        .background-image {
          width: 100%;
          object-fit: cover;
          @media screen and (min-width: 280px) {
            max-height: 5rem;
          }
          @media screen and (max-width: 768px) {
            max-height: 20rem;
          }
          @media screen and (min-width: 768px) {
            max-height: 20rem;
            object-position: center 50%;
          }
          @media screen and (min-width: 1024px) {
            max-height: 30rem;
            object-position: center 70%;
          }
          @media screen and (min-width: 2000px) {
            max-height: 35rem;
            object-position: center 70%;
          }
        }
        .the-enchanted-plate-background-image {
          width: 100%;
          object-fit: cover;
          @media screen and (min-width: 280px) {
            max-height: 15rem;
            object-position: center 45%;
          }
          @media screen and (min-width: 400px) {
            max-height: 20rem;
          }
          @media screen and (min-width: 550px) {
            object-position: center 65%;
          }
          @media screen and (min-width: 768px) {
            max-height: 25rem;
            object-position: center 60%;
          }
          @media screen and (min-width: 1024px) {
            max-height: 30rem;
            object-position: center 70%;
          }
          @media screen and (min-width: 1440px) {
            object-position: center 60%;
          }
          @media screen and (min-width: 1920px) {
            max-height: 40rem;
          }
        }
        .bastille-background-image {
          @media screen and (min-width: 1750px) {
            object-position: center 75%;
            max-height: 35rem;
          }
          @media screen and (min-width: 2000px) {
            max-height: 45rem;
          }
        }
        .le-gourmand-background-image {
          @media screen and (min-width: 768px) {
            object-position: center 90%;
          }
          @media screen and (min-width: 1440px) {
            max-height: 40rem;
            object-position: center 75%;
          }
        }
      }
    }
  }

  main {
    position: relative;
    top: -4rem;
    width: 100%;
    overflow-y: hidden;
    background: $backgroundColorGrey;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    @media screen and (min-width: 1024px) {
      top: -10rem;
    }
    h1 {
      position: relative;
      margin: 2rem 0 0 1.5rem;
      font-size: 1.5rem;
      font-family: $fontShrikhand;
      @media screen and (max-width: 360px) {
        font-size: 1.4rem;
      }
      @media screen and (min-width: 1024px) {
        font-size: 2rem;
        text-align: center;
      }
      .fa-regular {
        position: absolute;
        cursor: pointer;
        font-size: 30px;
        color: black;
        right: 30px;
        bottom: 10px;
        @media screen and (max-width: 319px) {
          font-size: 20px;
          right: 1rem;
          bottom: -1rem;
        }
        @media screen and (min-width: 1024px) {
          position: relative;
          right: -50px;
          bottom: 0;
        }
      }
      .fa-regular:hover {
        font-weight: 900;
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: $backgroundColorGrey;
        background-image: $backgroundColorGrey;
      }
      .fa-regular:active {
        font-weight: 900;
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: $backgroundColorGrey;
        background-image: $backgroundColorGrey;
      }
    }

    .menu-dishes-wrapper {
      width: 100%;
      @media screen and (min-width: 1024px) {
        margin-bottom: 6rem;
      }
      .courses {
        margin-left: 1.5rem;
        font-family: $fontRoboto;
        font-size: $fontRobotoSizeSmall;
        font-weight: $fontWeightRegular;
        text-transform: uppercase;
        color: grey;
      }
      .courses::after {
        content: " ";
        display: block;
        width: 2.5rem;
        border-bottom: 0.15rem solid $tertiaryColor;
      }
      .menu-dish-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 1rem 0;
        @media screen and (max-width: 319px) {
          margin-top: 0.3rem;
        }
        @media screen and (min-width: 768px) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 1rem 5%;
        }
        @media screen and (min-width: 1024px) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 1rem 5%;
        }
      }
      .entrees-container {
        flex-direction: row;
        flex-grow: 1;
        margin: 1rem 0;
        @media screen and (min-width: 768px) {
          min-width: 20rem;
          max-width: 28rem;
        }
        @media screen and (min-width: 1024px) {
          min-width: 23rem;
          max-width: 30rem;
        }
      }
      .main-dish-container {
        flex-direction: row;
        flex-grow: 1;
        margin: 1rem 0;
        @media screen and (min-width: 768px) {
          min-width: 20rem;
          max-width: 28rem;
        }
        @media screen and (min-width: 1024px) {
          min-width: 23rem;
          max-width: 30rem;
        }
      }
      .desserts-container {
        flex-direction: row;
        flex-grow: 1;
        margin: 1rem 0;
        @media screen and (min-width: 768px) {
          min-width: 20rem;
          max-width: 28rem;
        }
        @media screen and (min-width: 1024px) {
          min-width: 23rem;
          max-width: 30rem;
          margin: 1rem 0 0 0;
        }
      }
      .menu-dish-box {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 3rem;
        margin: 1rem;
        box-shadow: $boxShadowButton;
        border-radius: 1rem;
        z-index: 1;
        padding: 0.3rem 0 0.5rem 0;
        @media screen and (max-width: 319px) {
          min-height: fit-content;
        }
        @media screen and (max-width: 319px) {
          padding: 0 0 1rem 0;
        }
        @media screen and (min-width: 768px) {
          height: 4.3rem;
          &:hover {
            height: 6rem;
          }
        }
        &:hover {
          margin-left: 1rem;
          .dish-prices-container {
            width: 100px;
          }
          .fa-circle-check {
            top: 14px;
            right: 14px;
            font-size: 2rem;
            cursor: pointer;
            animation: spin 1s 1;
            animation-delay: 0.3s;
            @media screen and (max-width: 319px) {
              right: 17px;
              bottom: 40px;
              font-size: 1.8rem;
            }
          }
          .dish-prices {
            position: absolute;
            margin-right: 2.5rem;
            transition: 0.3s;
          }
          .dish-titles-and-description-container {
            max-width: 260px;
            word-wrap: normal;
            overflow: hidden;
            .menu-dish-description {
              @media screen and (max-width: 319px) {
                position: absolute;
                text-overflow: initial;
                overflow: hidden;
              }
              @media screen and (min-width: 768px) {
                position: absolute;
                text-overflow: initial;
                overflow: visible;
                white-space: initial;
                bottom: 1rem;
              }
            }
          }
        }
        &:hover::after {
          transform: scaleX(1);
        }
        &::after {
          content: " ";
          position: absolute;
          width: 60px;
          height: 100%;
          background: $tertiaryColor;
          right: 0;
          bottom: 0;
          border-radius: $borderRadius;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          z-index: -1;
          transition: transform 300ms ease-in;
          transform: scaleX(0);
          transform-origin: right;
        }
        .fa-circle-check {
          position: absolute;
          font-size: 0;
          color: $backgroundColorGrey;
        }
        @keyframes spin {
          100% {
            transform: rotate(360deg);
          }
        }
        .dish-titles-and-description-container {
          position: absolute;
          height: 100%;
          width: 80%;
          .menu-dish-titles {
            font-family: $fontRoboto;
            font-size: 1.3rem;
            font-weight: 600;
            margin: 0.5rem 0 0.2rem 0.5rem;
            @media screen and (max-width: 3px) {
              font-size: 1rem;
            }
            @media screen and (min-width: 319px) {
              font-size: 1rem;
            }
            @media screen and (min-width: 768px) {
              font-size: 1.2rem;
            }
          }
          .menu-dish-titles-overflow {
            white-space: pre-line;
          }
          .menu-dish-description {
            margin-left: 0.5rem;
            font-size: 1rem;
            font-weight: 500;
            font-family: $fontRoboto;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: grey;
            @media screen and (max-width: 319px) {
              max-width: 150px;
              overflow: visible;
              white-space: initial;
              font-size: 0.8rem;
            }
            @media screen and (min-width: 768px) {
              text-overflow: clip;
              overflow: visible;
              white-space: initial;
            }
            @media screen and (min-width: 326px) {
              font-size: 0.8rem;
            }
            @media screen and (min-width: 768px) {
              font-size: 1rem;
            }
          }
        }
        .dish-prices-container {
          position: absolute;
          height: 100%;
          width: 20%;
          right: 0;
          bottom: 0;
          .dish-prices {
            display: block;
            position: absolute;
            right: 2rem;
            bottom: 0.7rem;
            font-family: $fontRoboto;
            font-size: 1rem;
            font-weight: $fontWeightBold;
            color: black;
            @media screen and (max-width: 319px) {
              bottom: 0.2rem;
              right: 1.5rem;
            }
          }
        }
      }
      .menu-dish-box-overflow {
        @media screen and (max-width: 319px) {
          height: 4rem;
          top: 0;
          .menu-dish-titles {
            max-width: 180px;
          }
          &:hover {
            .fa-circle-check {
              top: 22px;
            }
          }
        }
      }
    }
    .order-button-container {
      display: flex;
      justify-content: center;
      width: 100%;
      @media screen and (min-width: 1024px) {
        display: block;
        position: absolute;
        bottom: 0;
      }
      .order-button {
        display: flex;
        justify-content: center;
        cursor: pointer;
        width: 10rem;
        margin: 0 auto;
        padding: 0.7rem;
        letter-spacing: 0.1rem;
        font-family: $fontRoboto;
        font-size: $fontRobotoSizeSmall;
        font-weight: $fontWeightRegular;
        background: $secondaryColor;
        background-image: $gradient;
        border-radius: $borderRadiusButton;
        box-shadow: $boxShadowButton;
        border: none;
        transform: scale(1);
        .order-button-a {
          text-decoration: none;
          color: white;
        }
        @media screen and (min-width: 1024px) {
          padding: 1rem 1.5rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  footer {
    background: #343435;
    padding-bottom: 1rem;
    width: 100%;
    .footer-content-container {
      width: 13rem;
      .footer-logo-img {
        height: 1rem;
        width: 6rem;
        filter: invert(100%);
        margin: 1rem 0 1rem 1.5rem;
        object-position: center;
      }
      .footer-p {
        @include footerLinks;
      }
      .support-a-restaurant-p {
        @include footerLinks;
        .fa-utensils {
          margin-right: 1.2rem;
        }
      }
      .become-a-partner-p {
        @include footerLinks;
        .fa-handshake-angle {
          margin-right: 0.8rem;
        }
      }
      .legal-p {
        @include footerLinks;
        font-weight: 100;
      }
      .contact-p {
        @include footerLinks;
      }
      @media screen and (min-width: 768px) {
        margin: 0 auto;
        max-width: 13rem;
        text-align: center;
      }
    }
  }
}
