@import "menuPageVar";

* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
body {
  @include body;
  background: $backgroundColorGrey;
  div {
    @include div;
  }
  header {
    margin-bottom: 1rem;
    .back-arrow {
      color: black;
      &:visited {
        color: black;
      }
      &:active {
        color: $primaryColor;
      }
    }
    .header-container {
      .fa-arrow-left {
        position: absolute;
        top: 1.2rem;
        left: 2rem;
        font-size: 1.2rem;
        -webkit-text-stroke: 0.5px;
        cursor: pointer;
      }
      .logo {
        .logo-img {
          display: block;
          margin: 0 auto;
          padding: 1rem 0 0.5rem 0;
          max-width: 50%;
          height: 2rem;
        }
      }
      .header-image {
        .background-image {
          max-width: 100%;
        }
      }
    }
  }
  main {
    background: $backgroundColorGrey;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    position: relative;
    top: -4rem;
    overflow-y: hidden;
    h1 {
      position: relative;
      margin: 2rem 0 2rem 1.5rem;
      font-size: 1.5rem;
      font-family: $fontShrikhand;
      .fa-regular {
        position: absolute;
        cursor: pointer;
        font-size: 30px;
        color: black;
        right: 30px;
        bottom: 10px;
        @media screen and (max-width: 360px) {
          font-size: 20px;
          // bottom: 30px;
          // right: 10px;
        }
      }
      .fa-regular:hover {
        font-weight: 900;
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: $backgroundColorGrey;
        background-image: $backgroundColorGrey;
      }
      .fa-regular:active {
        font-weight: 900;
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: $backgroundColorGrey;
        background-image: $backgroundColorGrey;
      }
    }
    .menu-dishes-wrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .courses {
      font-family: $fontRoboto;
      font-size: $fontRobotoSizeSmall;
      font-weight: $fontWeightRegular;
      text-transform: uppercase;
      color: grey;
      margin-left: 1.5rem;
    }
    .courses::after {
      content: " ";
      display: block;
      border-bottom: 0.15rem solid $tertiaryColor;
      width: 2.5rem;
    }
    // .menu-dishes-container {
    // }
    // .entrees-container {
    // }
    // .main-dish-container {
    // }
    // .desserts-container {
    // }
    .menu-dish-box {
      position: relative;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      height: 4rem;
      margin: 1rem;
      border: 0;
      box-shadow: $boxShadowButton;
      border-radius: 1rem;
      z-index: 1;
      .menu-dish-box-overflow {
        height: 5rem;
      }
      .menu-dish-box:hover {
        margin-left: 1rem;
        text-overflow: ellipsis;
        .fa-circle-check {
          animation: spin 1s 1;
          right: 1.5rem;
          animation-delay: 0.3s;
        }
        .dish-prices {
          position: absolute;
          margin-right: 2.2rem;
          padding: 0 1.5rem 0 0.5rem;
          transition: 0.3s;
          background: $backgroundColorGrey;
        }
      }
      .menu-dish-box:hover::after {
        transform: scaleX(1);
      }
      .menu-dish-box::after {
        content: " ";
        position: absolute;
        width: 20%;
        height: 100%;
        background: $tertiaryColor;
        right: 0;
        border-radius: $borderRadius;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        z-index: -1;
        transition: transform 300ms ease-in;
        transform: scaleX(0);
        transform-origin: right;
      }
      .fa-circle-check {
        position: absolute;
        right: 1rem;
        bottom: 1.5rem;
        color: $backgroundColorGrey;
        right: -5rem;
        top: 1.2rem;
        font-size: 1.5rem;
        overflow: visible;
      }
      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .menu-dish-titles {
      font-family: $fontRoboto;
      font-size: 1rem;
      font-weight: $fontWeightBold;
      margin: 1rem 0 0.2rem 0.5rem;
    }
    .menu-dish-titles-overflow {
      white-space: pre-line;
    }
    .menu-dish-description {
      font-family: $fontRoboto;
      font-size: $fontRobotoSizeSmallest;
      font-weight: $fontWeightThin;
      margin-left: 0.5rem;
      color: grey;
      .dish-prices {
        position: absolute;
        right: 2rem;
        bottom: 0.7rem;
        font-family: $fontRoboto;
        font-size: 1rem;
        font-weight: $fontWeightBold;
        color: black;
      }
    }
    .order-button {
      display: flex;
      justify-content: center;
      background: $secondaryColor;
      background-image: $gradient;
      border: none;
      border-radius: $borderRadiusButton;
      text-align: center;
      font-family: $fontRoboto;
      font-size: $fontRobotoSizeSmall;
      padding: 1.5rem 0rem;
      cursor: pointer;
      font-weight: $fontWeightRegular;
      letter-spacing: 0.1rem;
      transform: scale(1);
      box-shadow: $boxShadowButton;
      margin: 2rem 0 1rem 5rem;
      width: 10rem;
      padding: 0.7rem;
      .order-button-a {
        text-decoration: none;
        color: white;
      }
    }
    .order-button-the-enchanted-plate {
      margin-bottom: 1rem;
      overflow-y: hidden;
    }
  }
  .footer-the-enchanted-plate {
    margin-top: -20rem;
  }
  footer {
    @include footer;
    .footer-logo-img {
      height: 1rem;
      width: 6rem;
      margin-left: 1rem;
      filter: invert(100%);
      margin: 1rem;
    }
    .footer-p {
      @include footerLinks;
    }
    .support-a-restaurant-p {
      @include footerLinks;
      font-weight: $fontWeightBold;
      .fa-utensils {
        margin-right: 1.2rem;
      }
    }
    .become-a-partner-p {
      @include footerLinks;
      font-weight: $fontWeightBold;
      .fa-handshake-angle {
        margin-right: 0.8rem;
      }
    }
    .legal-p {
      @include footerLinks;
    }
    .contact-p {
      @include footerLinks;
    }
  }
}
