@import "menuPageVar";

* {
  padding: 0;
  margin: 0;
}
body {
  @include body;
  background: $backgroundColorGrey;
  div {
    @include div;
  }
  header {
    margin-bottom: 1rem;
    .back-arrow {
      color: black;
      &:visited {
        color: black;
      }
      &:active {
        color: $primaryColor;
      }
    }
    .header-container {
      .fa-arrow-left {
        position: absolute;
        top: 1.2rem;
        left: 2rem;
        font-size: 1.2rem;
        -webkit-text-stroke: 0.5px;
        cursor: pointer;
      }
      .logo {
        .logo-img {
          display: block;
          margin: 0 auto;
          padding: 1rem 0 0.5rem 0;
          max-width: 50%;
          height: 2rem;
        }
      }
      .header-image {
        .background-image {
          max-width: 100%;
        }
      }
    }
  }
  main {
    position: relative;
    top: -4rem;
    overflow-y: hidden;
    background: $backgroundColorGrey;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    h1 {
      position: relative;
      margin: 2rem 0 2rem 1.5rem;
      font-size: 1.5rem;
      font-family: $fontShrikhand;
      .fa-regular {
        position: absolute;
        cursor: pointer;
        font-size: 30px;
        color: black;
        right: 30px;
        bottom: 10px;
        @media screen and (max-width: 360px) {
          font-size: 20px;
          // bottom: 30px;
          // right: 10px;
        }
      }
      .fa-regular:hover {
        font-weight: 900;
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: $backgroundColorGrey;
        background-image: $backgroundColorGrey;
      }
      .fa-regular:active {
        font-weight: 900;
        background-image: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: $backgroundColorGrey;
        background-image: $backgroundColorGrey;
      }
    }

    .menu-dishes-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      .courses {
        margin-left: 1.5rem;
        font-family: $fontRoboto;
        font-size: $fontRobotoSizeSmall;
        font-weight: $fontWeightRegular;
        text-transform: uppercase;
        color: grey;
      }
      .courses::after {
        content: " ";
        display: block;
        width: 2.5rem;
        border-bottom: 0.15rem solid $tertiaryColor;
      }
      .menu-dish-containers {
        margin: 1rem 0 1rem 0;
        border: 1px red solid;
      }
      // .entrees-container {
      // }
      // .main-dish-container {
      // }
      // .desserts-container {
      // }
      .menu-dish-box {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        height: 4rem;
        margin: 1rem;
        box-shadow: $boxShadowButton;
        border-radius: 1rem;
        z-index: 1;
        .menu-dish-box-overflow {
          height: 5rem;
        }
        &:hover {
          margin-left: 1rem;
          .fa-circle-check {
            animation: spin 1s 1;
            right: 1.5rem;
            animation-delay: 0.3s;
          }
          .dish-prices {
            position: absolute;
            margin-right: 4rem;
            transition: 0.3s;
            background: $backgroundColorGrey;
          }
        }
        &:hover::after {
          transform: scaleX(1);
        }
        &::after {
          content: " ";
          position: absolute;
          width: 20%;
          height: 100%;
          background: $tertiaryColor;
          right: 0;
          border-radius: $borderRadius;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          z-index: -1;
          transition: transform 300ms ease-in;
          transform: scaleX(0);
          transform-origin: right;
        }
        .fa-circle-check {
          position: absolute;
          right: 1rem;
          bottom: 1.5rem;
          color: $backgroundColorGrey;
          right: -5rem;
          top: 1.2rem;
          font-size: 1.5rem;
          overflow: visible;
        }
        @keyframes spin {
          100% {
            transform: rotate(360deg);
          }
        }
        .menu-dish-titles {
          font-family: $fontRoboto;
          font-size: 1rem;
          font-weight: $fontWeightBold;
          margin: 1rem 0 0.2rem 0.5rem;
        }
        .menu-dish-titles-overflow {
          white-space: pre-line;
        }
        .menu-dish-description {
          margin-left: 0.5rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-family: $fontRoboto;
          font-size: $fontRobotoSizeSmallest;
          font-weight: $fontWeightThin;
          color: grey;
        }
        .dish-prices-container {
          width: 5em;
          .dish-prices {
            position: absolute;
            right: 2rem;
            bottom: 0.7rem;
            font-family: $fontRoboto;
            font-size: 1rem;
            font-weight: $fontWeightBold;
            color: black;
          }
        }
      }
    }
    .order-button-container {
      .order-button {
        display: flex;
        justify-content: center;
        cursor: pointer;
        width: 10rem;
        margin: 2rem 0 1rem 5rem;
        padding: 0.7rem;
        letter-spacing: 0.1rem;
        font-family: $fontRoboto;
        font-size: $fontRobotoSizeSmall;
        font-weight: $fontWeightRegular;
        background: $secondaryColor;
        background-image: $gradient;
        border-radius: $borderRadiusButton;
        box-shadow: $boxShadowButton;
        border: none;
        transform: scale(1);
        .order-button-a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  footer {
    @include footer;
    .footer-logo-img {
      height: 1rem;
      width: 6rem;
      margin-left: 1rem;
      filter: invert(100%);
      margin: 1rem;
    }
    .footer-p {
      @include footerLinks;
    }
    .support-a-restaurant-p {
      @include footerLinks;
      font-weight: $fontWeightBold;
      .fa-utensils {
        margin-right: 1.2rem;
      }
    }
    .become-a-partner-p {
      @include footerLinks;
      font-weight: $fontWeightBold;
      .fa-handshake-angle {
        margin-right: 0.8rem;
      }
    }
    .legal-p {
      @include footerLinks;
    }
    .contact-p {
      @include footerLinks;
    }
  }
}
