$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;
$backgroundColorGrey: rgb(246, 246, 246);
$gradient: linear-gradient(350deg, $primaryColor, $secondaryColor);
$Shadow: #cfcfcf;
$ShadowHowItWorks: #eeeeee;
$boxShadowLinks: 0rem 0rem 0.5rem 0.5rem $Shadow;
$boxShadowButton: 0rem 0.3rem 0.5rem 0.1rem $Shadow;
$fontRobotoSizeSmallest: 0.8rem;
$fontRobotoSizeSmall: 1rem;
$fontRobotoSizeRegular: 1.2rem;
$fontRobotoSizeLarge: 1.5rem;
$fontShrikhandSizeSmall: 1rem;
$fontShrikhandSizeRegular: 1.2rem;
$fontShrikhandSizeLarge: 2rem;
$fontWeightThin: 300;
$fontWeightRegular: 500;
$fontWeightBold: 1000;
$fontWeightBolder: 0px 1px, 1px 0px, 1px 1px;
$smallTablets: 540px;
$tablets: 768px;
$laptop: 1024px;
$desktop: 1200px;
$TV: 1201px;
$borderRadius: 0.4rem;
$borderRadiusButton: 5rem;
$borderRadiusHowItWorks: 1rem;
$fontRoboto: "Roboto", sans-serif;
$fontShrikhand: "Shrikhand", cursive;
$letterSpacing: 0.05rem;
@mixin body {
  background: white;
  overflow: hidden;
}
@mixin div {
  margin: 0;
  padding: 0;
}
@mixin menuPageH1 {
  font-family: $fontShrikhand;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
@mixin faHeart {
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  right: 40px;
  bottom: 40px;
}
@mixin faHeart2 {
  position: absolute;
  color: $backgroundColorGrey;
  font-size: 1.3rem;
}
@mixin faHeart2Before {
  padding: 0.03rem;
}
@mixin faHeartHover {
  position: absolute;
  background-image: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: $backgroundColorGrey;
  background-image: $backgroundColorGrey;
  background-size: 100%;
}
@mixin footer {
  background: #696969;
  padding-bottom: 1rem;
}
@mixin footerLinks {
  color: white;
  margin-left: 1rem;
  font: $fontRobotoSizeSmall $fontRoboto;
  padding-bottom: 0.5rem;
  white-space: normal;
}
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
